[core]
  excludesfile = ~/.gitglobalignore
[init]
  templatedir = ~/.git_template
[user]
	name = Jean-Baptiste Barth
  # "email" below is commented since I now manage it in each repository
	email = jeanbaptiste.barth@gmail.com
[includeIf "gitdir:~/dev/honestica/"]
  path = ~/.gitconfig.lifen
[branch]
  autosetuprebase = always #always "pull --rebase"
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = blue bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  cp = cherry-pick
  df = diff
  dff = diff --cached
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  s = stash
  root = rev-parse --show-toplevel
  up = pull --ff-only
  amend = commit --amend
  aamend = "!git add . --verbose && git commit --amend --no-edit"
  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|devel' | xargs -n 1 git branch -d"
  whendeleted = log -1 --
  lastcommiton = log -1 --
	lm = log --pretty=format:'%Cred%h%Creset   %C(bold blue)<%an>%Creset -%C(yellow)%d%Creset %C(bold cyan)%s   %Cgreen(%cr)%n%Creset%n - %b%n' --abbrev-commit --date=relative --merges
  lg = log --graph --pretty=format:'%Cred%h %Cgreen%>(12)%ad %C(yellow)%d %Creset%<(7)%s %C(bold blue)<%aN>%Creset' --date=short
  current-branch = rev-parse --abbrev-ref HEAD

[push]
  default = tracking
[github]
  user = jbbarth
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[pull]
	rebase = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
