[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-ansible-yaml"]
	path = .vim/bundle/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule ".vim/bundle/Dockerfile"]
	path = .vim/bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/clojure"]
	path = .vim/bundle/clojure
	url = https://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/crystal"]
	path = .vim/bundle/crystal
	url = https://github.com/rhysd/vim-crystal
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/es6"]
	path = .vim/bundle/es6
	url = https://github.com/isRuslan/vim-es6.git
[submodule "/Users/jbbarth/.vim/bundle/vim-elixir"]
	path = /Users/jbbarth/.vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/typescript"]
	path = .vim/bundle/typescript
	url = https://github.com/leafgarland/typescript-vim
